%-*-Erlang-*-
[{setup, [{data_dir, "/var/lib/ergw"},
	  {log_dir,  "/var/log/gtp-path-prober"}		%% NOTE: lager is not using this
	 ]},

 {ergw, [
	 {http_api,
	 %% Metrics of the Echo requests, among many others, can be GET at `/metrics`
	  [{port, 8088},
	   {ip, {0,0,0,0}}
	  ]},
	 {sockets,
	  [{local_host, [{type, 'gtp-c'},
		  {ip,  {127,0,0,1}}
		]}
	  ]},

	 {handlers,
	  [{lb1, [{handler, gtp_c_lb},
            {protocol, gn},
            {sockets, [local_host]},
            {forward, [local_host]},
            {rules, [
               {cgfs, [
                     {strategy, random},
                     %% GTP nodes to probe path to.
                     {nodes, [{192,168,13,75}, {192,168,13,110}]}
                 ]}
              ]}
            ]}
	 ]},

	 {node_selection,
	  [
	   {mydns, {dns, undefined}}
	  ]
	 }
	]},

 {jobs, [{queues,
	  [{path_restart,
	    [{path_restart, [{standard_counter, 100}]},
	     {create, [{standard_rate, 100}, {max_size, 10}]},
	     {delete, [{standard_counter, 100}]},
	     {other, [{standard_rate, 100}, {max_size, 10}]}
	    ]}
	  ]}
	]},

 {lager, [
	  {log_root, "/var/log/gtp-path-prober"},
	  {colored, true},
	  {error_logger_redirect, false}, % Error logger not started by default, https://github.com/erlang-lager/lager/issues/452
	  {crash_log, "crash.log"},
	  {handlers, [
		      {lager_console_backend, [{level, debug}]},
		      {lager_file_backend, [{file, "error.log"}, {level, error}]},
		      {lager_file_backend, [{file, "console.log"}, {level, debug}]}
		     ]}
	 ]}
].
